.DS_Store

/*.xcodeproj
/.build
/.build.*
/.netrc
/.swiftpm
/.vscode
/Packages
/Package.resolved

ExternalBenchmarks/*.xcodeproj
ExternalBenchmarks/.build
ExternalBenchmarks/.build.*
ExternalBenchmarks/.swiftpm
ExternalBenchmarks/.netrc
ExternalBenchmarks/.vscode
ExternalBenchmarks/Packages
ExternalBenchmarks/Package.resolved

